.transactionHistory {
  width: 700px;
  border: 2px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin-bottom: 30px;
  border-collapse: collapse;
}

.thead {
  border-radius: 5px;
  background-color: lightblue;
  height: 40px;
}

.trhead {
  border: 1px solid lightgrey;
}
th {
  padding: 0;
  margin: 0;
}
.trbody {
  text-align: center;
}

.td {
  height: 40px;
  border: 2px solid lightgrey;
}

.td:hover {
  background-color: rgb(171, 164, 243);
}
.trbody:nth-child(even) {
  background-color: lightgray;
}
